<div class="AddProduct">
    <section class="panel panel-default">
      <div class="panel-heading"> 
      <h3 class="panel-title">Create Product</h3> 
      </div> 
      <div class="panel-body">
        
      <form action="" class="form-horizontal" role="form" method="get" (ngSubmit)="onSubmit()" #AddProductForm="ngForm">
        <div class="form-group">
          <label for="name" class="control-label">Product title</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name" placeholder="Writing" ngModel>
          </div>
        </div> 
        <div class="form-group">
          <label for="Description" class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="description" id="Description" ngModel></textarea>
          </div>
        </div> 
        <div class="form-group">
          <label for="About" class="col-sm-3 control-label">About</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="about" id="About" ngModel></textarea>
          </div>
        </div> 
        <div class="form-group">
          <label for="image" class="control-label">Product Image</label>
            <label class="control-label" for="file_img">Image (jpg/png):</label><br>
             <input type="file" name="image" ngModel>
        </div> <!-- form-group // -->
        <div class="form-group">
          <label for="tech" class="control-label">Categories</label>
          <div class="">
        <select class="form-control" name="category" ngModel>
          <option selected disabled>Select Category</option>
          <option (focus)="change()" *ngFor="let cat of CategoryList let i=index"  value={{i}}>{{cat}}</option>
        </select>
          </div>
        </div> <!-- form-group // -->
        <div class="form-group group">
            <div>
              <label for="Price" class="col-sm-3 control-label">Price</label>
              <div class="">
                <input type="number" class="form-control" name="price" id="price" placeholder="Type here" ngModel>
              </div>
            </div>
            <div>
              <label for="Weight" class="col-sm-3 control-label">Weight</label>
              <div class="">
                <input type="number" class="form-control" name="weight" id="Weight" placeholder="Type here" ngModel>
              </div>
            </div>
            <div>
              <label for="Stock" class="col-sm-3 control-label">Stock</label>
              <div class="">
                <input type="number" class="form-control" name="stock" id="Stock" placeholder="Type here" ngModel>
              </div>
            </div>
          </div>
          <div class="form-group group">
              <label for="Color" class="control-label">Color</label>
              <div class="">
                <input type="color" class="form-control" name="color" id="Color" placeholder="Type here" ngModel>
              </div>
            </div>
        <hr>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </div>
      </form>       
      </div>
  </section>
</div>