<div class="container w-50">
  
    <section class="panel panel-default">
  <div class="panel-heading"> 
  <h3 class="panel-title">Create Product</h3> 
  </div> 
  <div class="panel-body">
    
  <form action="designer-finish.html" class="form-horizontal" role="form">
     <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Product title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="name" id="name" placeholder="Writing">
      </div>
    </div> <!-- form-group // -->
    <div class="form-group">
      <label for="about" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <textarea class="form-control"></textarea>
      </div>
    </div> <!-- form-group // -->
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Product Image</label>
      <div class="col-sm-3">
        <label class="control-label small" for="file_img">Image (jpg/png):</label> <input type="file" name="file_img">
      </div>
    </div> <!-- form-group // -->
    <div class="form-group">
      <label for="tech" class="col-sm-3 control-label">Categories</label>
      <div class="col-sm-3">
     <select class="form-control">
      <option value="">Select Category</option>
      <option value="">Dell</option>
      <option value="texnolog2">HP</option>
      <option value="texnolog3">Lenovo</option>
     </select>
      </div>
    </div> <!-- form-group // -->
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" name="name" id="name" placeholder="Type here">
        </div>
      </div> <!-- form-group // -->
    <hr>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Submit item</button>
      </div>
    </div> <!-- form-group // -->
  </form>
    
  </div><!-- panel-body // -->
  </section><!-- panel// -->
  
    
  </div> <!-- container// -->