*{
    font-weight: 600;
    font-size: 18px;
}
h3{
    font-size: 25px;
}
.imgPath{
    padding: 2px;
    color: green;
    border: none;
    border-radius: 2px;
    font-size: 15px;
}
img{
    width: 150px;
    border-radius: 50%;
    margin-left: 5px;
}
.imgPath{
    width: 45%;
}
.form-control{
    margin-bottom: 10px;
}
.AddProduct{
    color: #fff;
    margin: 10px 50px;
}
[type="submit"]{
    color: #fff;
    background-color: #272727;
    border: none;
}
[type="submit"]:hover{
    background-color: #fff;
    color:#272727 ;
}
/* select{
    color: #EEE;
    background: transparent;
} */
.group{
    display: flex;
    flex-direction: row;
    gap: 20px;
}