.logo {
  width: 12rem;
  color: aqua;
}

.loginbtn {
  background-color: #e0b44b;
  color: black;
  cursor: pointer;
}
.createbtn {
  background-color: #e4e7ed;
  color: black;
}

.container {
  margin-bottom: 10rem;
}
