<div class="container mt-4">
  <div
    class="h100 row d-flex justify-content-center fs-4 fw-semibold text-danger"
    *ngIf="productsList.length == 0"
  >
    Your cart is empty.
  </div>
  <div
    class="row d-flex justify-content-center mt-3"
    *ngFor="let item of productsList"
  >
    <div class="col-8 sm-col-10">
      <div class="d-flex justify-content-center item p-2">
        <div class="col-6">
          <p class="name">{{ item.name }}</p>
          <p class="ps-1">{{ item.category }}</p>
        </div>
        <div class="col-4">
          <img class="drug-img" [src]="item.images[0]" alt="" />
        </div>
        <div class="col-2">
          <div>
            <p><strong>Quantity:</strong> {{ item.stock }}</p>
          </div>
          <div>
            <p><strong>Price:</strong> {{ item.price }} EGP</p>
          </div>
          <div>
            <button class="btn btnn rounded-circle me-1" (click)="add(item)">
              +
            </button>
            <p class="quantity">
              {{ item.quantity }}
            </p>
            <button class="btn btnn rounded-circle ms-1" (click)="remove(item)">
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-center my-5 fs-4 text-danger"
  *ngIf="productsList.length > 0"
>
  <a class="btno" (click)="orderNow()">Order Now</a>
</div>
