* {
  color: white;
}
.h100 {
  height: 100vh;
  margin-top: 10rem;
}
.search {
  margin-top: 25px;
  width: 700px;
}
.drug {
  margin-top: 35px;
}

.drug-img {
  width: 120px;
}

.item {
  border-bottom: 1px solid #9bdd9b;
  box-shadow: 2px 2px 10px 2px lightgray;
  height: 150px;
  margin: 10px;
}

.name {
  font-weight: 500;
  font-size: 25px;
}

.link {
  color: #00bbae;

  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  padding: 10px;
  margin: 5px;
  background-color: aquamarine;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btnn {
  border: 1px solid black;
}
.btnn:hover {
  background-color: #00bbae;
}

.quantity {
  display: inline-block;
  border-bottom: 2px solid #9bdd9b;
  margin: 0 4px;
}

.btno {
  border-bottom: 2px solid #9bdd9b;
  text-decoration: none;
  color: rgb(45, 90, 212);
  padding-bottom: 5px;
}
