<div class="filter">
  <h3>Brand</h3>
  <ul class="list-unstyled  ms-2">
    <li><button (click)="getAll()" routerLink="/categories/All">All Products</button></li>
    <li><button (click)="getHp()" routerLink="/categories/Hp">Hp</button></li>
    <li><button routerLink="/categories/Asus" (click)="getAsus()">Asus</button></li>
    <li><button routerLink="/categories/Msi" (click)="getMsi()">Msi</button></li>
    <li><button routerLink="/categories/Lenovo" (click)="getLenovo()">Lenovo</button></li>
    <li><button routerLink="/categories/Acer" (click)="getAcer()">Acer</button></li>
    <li><button routerLink="/categories/Dell"(click)="getDell()">Dell</button></li>
    <li><button routerLink="/categories/Alienware" (click)="getAlienware()">Alienware</button></li>
  </ul>
  <h3>Price</h3>
  <ul class="list-unstyled  ms-2">
    <li><button (click)="under15()">under 15000LE</button></li>
    <li><button (click)="between15And25()">15000LE to 25000LE</button></li>
    <li><button (click)="between25And35()">25000LE to 35000LE</button></li>
    <li class="mb-2"><button (click)="above35()">above 35000LE</button></li>
  </ul>
  <h3>Customer review</h3>
  <ul class="list-unstyled  ms-2">
    <li>
      <button (click)="stars4Up()">
        <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
      </button>
    </li>
    <li>
      <button (click)="stars3Up()">
        <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
      </button>
    </li>
    <li>
      <button (click)="stars2Up()">
        <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
      </button>
    </li>
    <li class="mb-2">
      <button (click)="stars1Up()">
        <i class="fa-solid fa-star star"></i>
       & up
      </button>
    </li>
  </ul>
  <h2>Availability</h2>
  <ul class="list-unstyled ms-2">
    <li class="mb-2"><button (click)="removeOutOfStock()">
      remove out of stock
    </button>
  </li>
  </ul>
</div>
