<div class="filter">
  <h3>Brand</h3>
  <ul class="list-unstyled  ms-2">
    <li><input id="hp" type="checkbox" class="me-1"><label for="hp">Hp</label></li>
    <li><input id="asus" type="checkbox" class="me-1"><label for="asus">Asus</label></li>
    <li><input id="msi" type="checkbox" class="me-1"><label for="msi">Msi</label></li>
    <li><input id="lenovo" type="checkbox" class="me-1"><label for="lenovo">Lenovo</label></li>
    <li><input id="acer" type="checkbox" class="me-1"><label for="acer">Acer</label></li>
    <li class="mb-2"><input id="dell" type="checkbox" class="me-1"><label for="dell">Dell</label></li>
  </ul>
  <h3>Price</h3>
  <ul class="list-unstyled  ms-2">
    <li>under 400$</li>
    <li>400$ to 700$</li>
    <li>700$ to 1000&</li>
    <li class="mb-2">above 1000&</li>
  </ul>
  <h3>Customer review</h3>
  <ul class="list-unstyled  ms-2">
    <li>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
    </li>
    <li>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
    </li>
    <li>
      <i class="fa-solid fa-star star"></i>
      <i class="fa-solid fa-star star"></i>
       & up
    </li>
    <li class="mb-2">
      <i class="fa-solid fa-star star"></i>
       & up
    </li>
  </ul>
  <h2>Availability</h2>
  <ul class="list-unstyled ms-2">
    <li class="mb-2"><input id="outOfStock" type="checkbox" class="me-1"><label for="outOfStock">Include out of stock</label></li>
  </ul>
</div>
