<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="#"> Dot Net E-commerce </a></h1>

    <!--Start Nav-->
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#"> Home</a></li>
        <li><a href="#"> About </a></li>
        <!-- <li><a href="#"> Service</a></li> -->
        <li><a href="#"> Products </a></li>
        <!-- <li><a href="#"> Team</a></li> -->
        <li><a href="#"> Cart</a></li>
        <li><a href="#"> contact us</a></li>

        <!--end Nav-->

        <li><a href="#" class="get-started-btn scrollto"> Register </a></li>
      </ul>
    </nav>
  </div>
</header>
