<header class="header-section">
  <div class="header-top ss">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class="fa fa-envelope"></i>
          iti@gmail.com
        </div>
        <div class="phone-service">
          <i class="fa fa-phone"></i>
          +00 00.000.000
        </div>
      </div>
      <div class="ht-right">
        <div class="top-social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark p-2 shadow-sm nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="assets/Images/tidal-logo.png" alt="logo" class="logo_img"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-primary input-group-text bg-primary text-white"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></span>
        <input
          type="text"
          class="form-control border-primary"
          style="color: #7a7a7a"
        />
        <button class="btn btn-primary text-white">فصثقفصثقفف</button>
      </div>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-primary input-group-text bg-primary text-white"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
          <input
            type="text"
            class="form-control border-primary"
            style="color: #7a7a7a"
          />
          <button class="btn btn-primary text-white">Search</button>
        </div>
      </div> -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            (click)="getAll()"
            routerLink="/categories/All"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="cart"
            ><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"
            ><i class="fa-solid fa-circle-user me-1"></i> Account</a
          >
        </li>

        <li class="nav-item" *ngIf="!this.auth.isLoggedIn()">
          <a class="nav-link mx-2 text-uppercase" routerLink="login">Log in</a>
        </li>
        <li class="nav-item" *ngIf="this.auth.isLoggedIn()">
          <a class="nav-link mx-2 text-uppercase">Hello, {{ fullName }}</a>
        </li>
        <li class="nav-item" *ngIf="this.auth.isLoggedIn()">
          <a
            class="nav-link mx-2 text-uppercase"
            routerLink="/"
            (click)="logOut()"
            >Log out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- ----------------------- -->
