/*---------------------
  Header
-----------------------*/
.logo_img {
  width: 7rem;
}

.ht-right .lan-selector {
  max-width: 142px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.ht-right .lan-selector .ddcommon {
  max-width: 142px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
  cursor: pointer;
  padding: 0 20px;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddTitleText img {
  padding-right: 5px;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddTitleText span {
  font-size: 14px;
  color: #252525;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddArrow:before {
  content: "3";
  font-family: "ElegantIcons";
  font-size: 14px;
  color: #636363;
  float: right;
  position: relative;
  right: 0;
  line-height: 26px;
}

.ht-right .lan-selector .ddcommon .ddChild {
  background: #fff;
  max-width: 142px;
  width: 100%;
  position: relative;
  left: 0;
}

.ht-right .lan-selector .ddcommon .ddChild ul {
  width: 100%;
  max-width: 142px;
}

.ht-right .lan-selector .ddcommon .ddChild ul li {
  line-height: 23px;
  padding: 0px 10px;
  list-style: none;
}

.ht-right .lan-selector .ddcommon .ddChild ul li img {
  padding-right: 10px;
}

.ht-right .lan-selector .ddcommon .ddChild ul li span {
  font-size: 13px;
  color: #000;
  letter-spacing: 0.325px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.header-top .ht-left {
  float: left;
}

.header-top .ht-left .mail-service {
  font-size: 16px;
  color: #252525;
  float: left;
  border-right: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.header-top .ht-left .mail-service i {
  margin-right: 5px;
}

.header-top .ht-left .phone-service {
  float: right;
  font-size: 14px;
  color: #252525;
  line-height: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.header-top .ht-left .phone-service i {
  margin-right: 5px;
}

.header-top .ht-right {
  float: right;
}

.header-top .ht-right .login-panel {
  float: right;
  font-size: 14px;
  color: #252525;
  display: inline-block;
  padding-left: 20px;
  border-left: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-top .ht-right .login-panel i {
  margin-right: 8px;
}

.header-top .ht-right .lan-selector {
  float: right;
  margin-top: 15px;
  margin-bottom: 13px;
}

.header-top .ht-right .top-social {
  float: right;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-top .ht-right .top-social a {
  color: #252525;
  font-size: 14px;
  display: inline-block;
  margin-left: 15px;
}

@media only screen and (max-width: 491px) {
  .header-section {
    display: none;
  }
  /* .header-top .ht-left{
    display: none;
  }
  .header-top .ht-right{
margin-right: 30%;
  } */
}

.header-section {
}

.nav {
  background-color: #212529;
}
.nav-link {
  color: #e5e5e5 !important;
}
.nav-link:hover {
  color: white !important;
}

a {
  font-size: 14px;
  font-weight: 700;
}
.superNav {
  font-size: 13px;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}

.ss {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
}
.searchIcon{
  color: white;
  font-weight: bold;
  font-size: larger;
}
.searchIcon:hover{
  cursor: pointer;
  color: rgba(255,164,28,255);
}
