<header class="header-section">
  <div class="header-top ss">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class="fa fa-envelope"></i>
          Tidal@gmail.com
        </div>
        <div class="phone-service">
          <i class="fa fa-phone"></i>
          +20 1002380090
        </div>
      </div>
      <div class="ht-right">
        <div class="top-social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark p-2 shadow-sm nav">
  <div class="container">

    <a class="navbar-brand" href="#"
      ><img src="assets/images/tidal-logo.png" alt="logo" class="logo_img"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <i (click)="toggleSearch()" class="fa-sharp fa-solid fa-magnifying-glass searchIcon"></i>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <i (click)="toggleSearch()" class="fa-sharp fa-solid fa-magnifying-glass"></i>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" (click)="getAll()" routerLink="/categories/All">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"
          ><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <app-search-bar *ngIf="showSearch == true"></app-search-bar>


