<div class="AddProduct">
    <section class="panel panel-default">
      <div class="panel-heading"> 
      <h3 class="panel-title">Profile settings</h3> 
      </div> 
      <div class="panel-body">       
      <form action="designer-finish.html" role="form">
        <div class="form-horizontal">
            <div class="inputs">
                <div class="form-group group">
                    <div>
                      <label for="First name" class="control-label">First name</label>
                      <div class="">
                        <input type="text" class="form-control" name="First name" id="First name" placeholder="Type here">
                      </div>
                    </div>
                    <div>
                      <label for="Last name" class="control-label">Last name</label>
                      <div class="">
                        <input type="text" class="form-control" name="Last name" id="Last name" placeholder="Type here">
                      </div>
                    </div>
                </div>
                <div class="form-group group">
                    <div>
                      <label for="Email" class="col-sm-3 control-label">Email</label>
                      <div class="">
                        <input type="email" class="form-control" name="Email" id="Email" placeholder="Type here">
                      </div>
                    </div>
                    <div>
                      <label for="Phone" class="col-sm-3 control-label">Phone</label>
                      <div class="">
                        <input type="tel" class="form-control" name="Phone" id="Phone" placeholder="Type here">
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                      <label for="Address" class="col-sm-3 control-label">Address</label>
                      <div class="">
                        <input type="text" class="form-control" name="Address" id="Address" placeholder="Type here">
                      </div>
                    </div>
                  </div>
                  <div class="form-group group">
                      <label for="Birthday" class="control-label">Birthday</label>
                      <div class="">
                        <input type="date" class="form-control" name="Birthday" id="Birthday" placeholder="Type here">
                      </div>
                    </div>
                <hr>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">save changes</button>
                  </div>
                </div>
            </div>
            <div class="imageContainer">
               <img src="../../../../assets/Images/osama.jpg" alt="">
               <button class="upload" mat-stroked-button color="primary">
                    <mat-icon>cloud_upload</mat-icon>
                    Upload
                </button>
            </div>
        </div>
        <div class="passAndaccount">
            <div class="passwordContainer sec">
                <div class="text">
                    <h4>Password</h4>
                    <p>you can change reset or change your <br> password by clicking here</p>
                </div>
                <button mat-flat-button>change</button>
            </div>
            <div class="AccountContainer sec">
                <div class="text">
                    <h4>Remove account</h4>
                    <p>once you delete your account ,there <br> is no going back,Please be certain</p>
                </div>
                <button mat-flat-button>Deactivate</button>
            </div>
        </div>
      </form>       
    </div>
  </section>
</div>
