<div >
  <div class="container my-5">

    <ngb-accordion #acc="ngbAccordion" *ngFor="let s of orders" >

      <ngb-panel>
        <ng-template ngbPanelTitle>

          <div class="left">
            <p class="text-muted">order ID</p>
            <p class="bold">{{s.id}}</p>
            <p class="text-muted">{{s.order_Date
            }}</p>
              </div>


              <div class="items">
                <p class="bold">Customer email</p>
            <p>{{s.customerEmail
            }}</p>
              </div>
              <div class="items">
                <p class="bold">Shipping Address</p>
            <p>{{s.shipping_Address
            }}</p>
              </div>
              <div class="total-price">
                <div>Order Total</div>
                <div class="bold">{{s.price}} EGP</div>
                      </div>
              <div class="status">

                 <select #statusValue class="btn" (change)="changeStatus($event,s)" [style.background-color]="colorStatus" name="status" id="">
                  <option [value]="state" *ngFor="let state of OrderStatus">{{state}}</option>
                 </select>

           <p class="btn btn-success">{{s.order_Status
          }}</p>

              </div>
        </ng-template>
        <ng-template ngbPanelContent class="con" >
          <div class="con"  >

          </div>
          <div>Delivered Items</div>
          <div class="row fasel" *ngFor="let item of s.products">
            <div class="col one">
              <img src="{{item.images[0]}}" width="100px" alt="">
            </div>
            <div class="col">
              <p class="bold">{{item.name}}</p>
              <p>Quantity: {{item.quantity}}</p>
            </div>
            <div class="col">
              <p>unit price</p>
              <p class="bold">{{item.price}}EGP</p>
            </div>
            <div class="col">
              <p>color</p>
              <p class="bold">{{item.color}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>


</div>





