<div class="container pb-5">
  <div class="d-flex justify-content-center">
    <img class="logo" src="assets/Images/Tidal-Logo.wine.svg" alt="Logo" />
  </div>
  <div class="d-flex align-items-center justify-content-center flex-column">
    <form
      class="col-4 border p-5"
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
    >
      <h3 class="text-center pb-3 fw-bold">Log in</h3>
      <h5 class="pb-2">Welcome back :)</h5>
      <!-- <div
        *ngIf="loginForm.submitted && loginForm.invalid"
        class="alert alert-danger"
      >
        Email and password are required.
      </div> -->

      <div class="alert alert-danger mt-3" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <label for="email"><strong>Email</strong></label
      ><span class="text-danger"> *</span>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        email
        [(ngModel)]="email"
        #emailInput="ngModel"
      />
      <div
        *ngIf="emailInput.touched && emailInput.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="emailInput?.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput?.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>

      <label class="mt-2" for="password"><strong>Password</strong></label
      ><span class="text-danger"> *</span>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        required
        minlength="8"
        [(ngModel)]="password"
        #passwordInput="ngModel"
      />
      <div
        *ngIf="passwordInput.touched && passwordInput.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="passwordInput?.errors?.['required']">
          Password is required.
        </div>
        <!-- <div *ngIf="passwordInput?.errors?.['minlength']">
          Password should be at least 8 characters long.
        </div> -->
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary mt-4 w-100 loginbtn"
      >
        Log in
      </button>
    </form>
  </div>

  <!-- ------------------------- -->

  <div
    class="d-flex align-items-center justify-content-center flex-column mt-4"
  >
    <div class="col-4 d-flex align-items-center">
      <hr class="flex-grow-1 mr-4" />
      <span>New to Tidal?</span>
      <hr class="flex-grow-1 ml-4" />
    </div>
    <div class="col-4 p-3">
      <a routerLink="/register" class="btn btn-primary w-100 createbtn"
        >Create your Tidal account</a
      >
    </div>
  </div>
</div>
