<table class="table ">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Products ID</th>
			<th scope="col">Email</th>
			<th scope="col">Rating</th>
			<th scope="col">Review</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let s of reviews; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img

					style="width: 20px"
				/>
				{{ s.product_Id }}
			</td>
      <td>{{ s.customerEmail
      }}</td>
			<td><ngb-rating [rate]="s.rating
        "></ngb-rating></td>
			<td>{{ s.review
      }}</td>
			
		</tr>
	</tbody>
</table>

<style>
  tr,th,td,tbody,thead{
    color: white;
  }
</style>
