.slick-wrapper{
  width: 1000px;
  margin: 20px auto;

}
a{
  text-decoration: none;
}
.slick-prev:before, .slick-next:before {
  color: black!important;

}
a img{
  object-fit: contain;
  width: 100%;
}
.card{
  margin-left: 4px;
  height: 350px;
transition: 0.2s;
cursor: pointer;
justify-content: space-between;
}
.productName{
color: black;
font-weight: bold;
}


.card:hover{
 scale: 1.02;
}
img{

}
h3{
  color: black;
  font-weight: 900;
}
P{
  color: black;
  font-weight: 900;
}
.con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
