<div class="container-fluied sli">
  <h2>Top rated Products</h2>
<div class="slick-wrapper container-fluied" >


  <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let product of products" class="slide">


      <!-- -------- -->


<section class=" cvv">
  <div class=" ">

<div class="card" >
  <a routerLink="/categories/{{product.category}}/{{product.id}}">

    <img src="{{product.images[0]}}" alt="">
  </a>
  <div class="con d-flex flex-column">
    <p class="productName">{{product.name}}</p>
    <P class="productPrice">{{product.price}} EGP</P>
  </div>

</div>


  </div>
</section>

<style>
.sli{
  margin-top: 8px;

  width: 100%;
  text-align: center;

}
</style>
      <!-- -------- -->
    </div>
  </ngx-slick-carousel>

  </div>


</div>







