.page_container{
  min-height: 100vh;
  min-height: 100dvh;
  /* border: 3px solid red; */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page_container main {
  color: white;
  background-color: black;
}
