<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th><i class="fa-solid fa-hashtag"></i> Tracking Number</th>
            <th><i class="fas fa-shipping-fast"></i> Carrier</th>
            <th><i class="fas fa-cart-plus"></i> Status</th>
            <th>
              <i class="fa-regular fa-calendar"></i> Expected Delivery Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipment of shipments">
            <td>{{ shipment.trackingNumber }}</td>
            <td>{{ shipment.carrier }}</td>
            <td
              [ngClass]="{
                'text-warning': shipment.status === 'pending',
                'text-primary': shipment.status === 'shipping',
                'text-success': shipment.status === 'delivered'
              }"
            >
              {{ shipment.status }}
            </td>
            <td>{{ shipment.expectedDeliveryDate | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
