<div class="container p-4">
  <div class="row"><h2>Track My Order</h2></div>
  <div class="row">
    <p>Find a single order with the form below</p>
  </div>
  <div class="row d-flex justify-content-center pt-4">
    <form (submit)="onSubmit(orderNumberValue.value)">
      <div class="d-flex justify-content-evenly">
        <!-- <div class="form-group d-flex align-items-center">
          <div class="col-auto px-3">
            <label for="email"
              ><strong>Email</strong><span class="text-danger">*</span></label
            >
          </div>
          <div class="col-auto">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="helpId"
              placeholder="Email"
              #emailValue="ngModel"
              [(ngModel)]="email"
            />
          </div>
        </div> -->
        <div class="form-group align-items-center">
          <label for="orderNumber"
            ><strong>Order Number</strong><span class="text-danger"> *</span>
          </label>

          <input
            type="number"
            class="form-control"
            name="orderNumber"
            id="orderNumber"
            aria-describedby="helpId"
            placeholder="Order Number"
            #orderNumberValue="ngModel"
            [(ngModel)]="orderNumber"
          />
        </div>
      </div>
      <div class="row d-flex justify-content-center pt-4">
        <input type="submit" class="btn btn-primary w-25" value="Find Order" />
      </div>
    </form>
  </div>

  <div class="row d-flex justify-content-center pt-5">
    <div class="col-7">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th><i class="fa-solid fa-hashtag"></i> Tracking Number</th>
            <!-- <th><i class="fas fa-shipping-fast"></i> Carrier</th> -->
            <th><i class="fas fa-cart-plus"></i> Status</th>
            <th>
              <i class="fa-regular fa-calendar"></i> Expected Delivery Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="searchResult">
            <td>{{ searchResult.trackingNumber }}</td>
            <!-- <td>{{ searchResult.carrier }}</td> -->
            <td
              [ngClass]="{
                'text-warning': searchResult.status === 'pending',
                'text-primary': searchResult.status === 'shipping',
                'text-success': searchResult.status === 'delivered'
              }"
            >
              {{ searchResult.status }}
            </td>
            <td>{{ searchResult.expectedDeliveryDate | date }}</td>
          </tr>
          <tr *ngIf="!searchResult">
            <td colspan="4" class="text-center text-danger">
              No order found with the provided email and order number
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
