.container-fluid{
  background-image:
  linear-gradient(
    135deg,
    #2b3040,
    black );
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #fff;
}
img{
  width: 100%;
  object-fit: contain;
  border-radius: 5%;
}

img:hover{
  cursor: pointer;
}

.sideImagesContainer div{
  width: fit-content;
}
.inStockIcon{
  color: rgba(255,164,28,255);
}
.increase, .decrease{
  padding: 5px;
  border: 1px solid #272727;
}
input{
  width: 40px;
  text-align: center;
  font-weight: 600;

}

.increase:hover{
  background-color: #252525;
  cursor: pointer;
}
.increase:hover .plus{
  color: rgba(255,164,28,255);
}
.decrease:hover{
  background-color: #252525;
  cursor: pointer;
}
.decrease:hover .minus{
  color: rgba(255,164,28,255);
}
.addToCart:hover .cartIcon{
color: rgba(255,164,28,255);
}
.checkout:hover .checkoutIcon{
  color: rgba(255,164,28,255);
}

.description{
  background-image:
  linear-gradient(
    315deg,
    #525a75,
    #2b3040,
    #272727,
    black );  border-radius: 20px;

}
span{
  font-weight: 400;
}
