<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col-lg-6 col-sm-12"><h1>Customers Review</h1></div>
  </div>
  <div class="row customerReviewCard p-3 mb-3" *ngFor="let review of reviews">
    <div

      class="col-lg-3 col-md-6 col-sm-12 mb-sm-3 mb-xl-3 d-flex gap-3 customerData"
    >
      <i class="fa-solid fa-user userIcon"></i>
      <div class="userName">{{review.customerEmail}}</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-3 mb-xl-3 customerRating">
      {{review.rating}}
      <span *ngFor="let star of review.ratingArray">
        <i class="fa-solid fa-star star"></i>
      </span>
      <i *ngIf="review.halfAStar > 0" class="fa-solid fa-star-half star"></i>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 mb-sm-3 mb-xl-3 mt-md-4 review">
      {{review.review}}
    </div>
  </div>
<div class="container-fluid mb-5 currentUserReview">
  <div class="row mb-4"><h1>Add your Review</h1></div>

  <div class="row customerReviewCard p-3 mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-sm-3 mb-xl-3 d-flex gap-3 customerData"
    >
      <i class="fa-solid fa-user userIcon"></i>
      <div #email class="userName" >{{currentUserEmail}}</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-3 mb-xl-3 customerRating">
      <label for="currentUserRating">Rating</label>
      <input class="ms-2 rounded-3" id="currentUserRating" type="number" step="0.5" max="5" min="0" #rating value="{{+editedProduct.rating}}">
      <label class="ms-2" for="currentUserRating"> out of 5</label>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 mb-sm-3 mb-xl-3 mt-md-4 review">
      <div class="row mb-2">
        <textarea #review
        value="{{editedProduct.review}}"
          class="rounded-3"
          name="currentUserReview"
          id="writeYourReview"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="row gap-3">
        <button class="btn btn-primary submitReview" (click) = "submitReview({rating:+rating.value, review: review.value})">Submit</button>
        <button class="btn btn-primary submitReview" (click) = "editReview()">Edit</button>
        <button class="btn btn-primary submitReview" (click) = "submitEditedReview({rating:+rating.value, review: review.value})">Submit Edited Review</button>
        <button class="btn btn-primary submitReview" (click) = "removeReview()">Remove review</button>
      </div>
    </div>
  </div>
</div>
