.container-fluid{
  background-image:
  linear-gradient(
    135deg,
    #2b3040,
    black );
    padding: 20px;
  border-radius: 30px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.star{
  color: rgba(255,164,28,255);
}
.userIcon{
  font-size: 2rem;
}
.customerReviewCard{
  background-color: #3a4254;
  border-radius: 10px;
}
#writeYourReview{
  width: 100%;
}
.submitReview{
  width: fit-content;
}
#currentUserRating{
  width: 30%;
}
input,
textarea{
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: black;
}
a{
  text-decoration: none;
  color: white;
}
