/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
<<<<<<< HEAD
  padding: 0;
=======
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
>>>>>>> 73ed8f3b55fb32069460877c4d44613dca3930cc
}

/* body {
  margin: 0;
}

html, body { height: 100%; }
 */
