/* * {
  color: white;
  margin: 0;
  padding: 0;
} */

/* a:hover {
  color: white;
  text-decoration: underline !important;
}

.footer-p2 {
  background-color: #232f3e;
}

.footer-p3 {
  background-color: rgb(36, 33, 33);
} */


