<button class="col-12 btn btn-secondary p-2" (click)="onBackToTop()">
  Back to top
</button>
<footer class="d-flex flex-column justify-content-center">
  <div class="row d-flex py-5 footer-p2 flex-wrap">
    <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4">
      <div class="d-sm-block mb-4">
        <h4 class="fw-semibold my-2">Creators</h4>
        <ul class="d-flex flex-column list-unstyled">
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Ahmed El-gendy</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Khaled Ibrahim</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Zidan</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Adel-Khalek</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Osama Mohamed</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4">
      <div class="d-sm-block mb-4">
        <h4 class="fw-semibold my-2">Creators</h4>
        <ul class="d-flex flex-column list-unstyled">
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Ahmed El-gendy</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Khaled Ibrahim</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Zidan</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Adel-Khalek</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Osama Mohamed</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4">
      <div>
        <h4 class="fw-semibold my-2">Creators</h4>
        <ul class="d-flex flex-column list-unstyled">
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Ahmed El-gendy</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Khaled Ibrahim</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Zidan</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Mohamed Adel-Khalek</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#" target="_blank"
              >Osama Mohamed</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-p3 py-3">
    <div>
      <ul class="d-flex justify-content-center gap-3 list-unstyled">
        <li>
          <a class="text-decoration-none" href="#">Conditions of Use</a>
        </li>
        <li>
          <a class="text-decoration-none" href="#">Privacy Notice</a>
        </li>
        <li>
          <a class="text-decoration-none" href="#">Your Ads Privacy Choices</a>
        </li>
      </ul>
    </div>
    <div class="text-center">&copy; 2023, Amazon, Inc. or its affiliates</div>
  </div>
</footer>
